<!-- DEFINE $CA_SKIP_PM_NOTIFY = '1' --><!-- INCLUDE overall_header.html -->
    <div class='menu_top'><div class='menu_top_l'><div class='menu_top_r'>
        
        </div></div></div>  
        <div class='m_l'><div class='m_r'><div class='menu_text'> 

{$CA_BLOCK_START}
{$CA_CAP2_START}{MESSAGE_TITLE}{$CA_CAP2_END}
<table class="tablebg" width="100%" cellspacing="{$CA_SPACING}">
<tr> 
	<td class="row1" align="center"><br /><p class="gen">{MESSAGE_TEXT}</p><br /></td>
</tr>
</table>
{$CA_BLOCK_END}

<br clear="all" />

<!-- INCLUDE breadcrumbs.html -->
</div></div></div>      
        <div class='menu_bot'>    
        <div class='menu_bot_l'>  
        <div class='menu_bot_r'>
        </div></div></div><br>

<!-- INCLUDE overall_footer.html -->