	<!-- IF not S_IS_BOT -->{RUN_CRON_TASK}<!-- ENDIF -->



<div id="wrapfooter">
	<span class="copyright">
	Powered by <a href="http://www.phpbb.com/">phpBB</a>  &copy; 2000, 2002, 2005, 2007 phpBB Group. Designed by <a href="http://www.madringtones.org/by-artist/Prince/">Prince Ringtone</a>
    &nbsp;based on <a href="http://www.stsoftware.biz/">AcidTech style.</a>
	</span>
</div>
<!-- IF U_ACP --><div align="center"><span class="gensmall">[ <a href="{U_ACP}">{L_ACP}</a> ]</span></div><br /><br /><!-- ENDIF -->

	</td>
</tr>
</table>

</body>
</html>