<!-- IF not S_IS_BOT -->{RUN_CRON_TASK}<!-- ENDIF -->
		
</div>
</div>

<div id="rdbottom"><img src="{T_THEME_PATH}/images/bottomimg.png" width="1150px" height="20px" alt="" /></div>
</div>
	<br clear="all" />
	
	<div id="bwrappfoot">
			<div id="bdtop"><img src="{T_THEME_PATH}/images/topimg.png" width="1150px" height="20px" alt="" /></div>
		<div id="wrapfooter">
				
							<div class="leftfooter">
		
								<span class="copyright">{CREDIT_LINE}
								<!-- IF TRANSLATION_INFO --><br />{TRANSLATION_INFO}<!-- ENDIF -->
								<!-- IF DEBUG_OUTPUT --><br /><bdo dir="ltr">[ {DEBUG_OUTPUT} ]</bdo><!-- ENDIF --></span><br />
								BlackBoard &copy; 2013 by <a href="http://www.styles-design-phpbb.com/contact-support.php">FanFanLaTuFlippe</a><br />
								<!-- IF not S_IS_BOT --><a href="{U_DELETE_COOKIES}">{L_DELETE_COOKIES}</a><br /><!-- ENDIF -->
								<!-- IF U_TEAM --><a href="{U_TEAM}">{L_THE_TEAM}</a><!-- ENDIF -->
								
							</div>
				
							<div class="rightfooter">
							
									<span style="font-weight:bold;"><a href="#wrapheader">{L_BACK_TO_TOP}</a></span><br />
									<a href="{U_INDEX}" title="{L_HOME}">{L_HOME}</a><br />
									<a href="{U_FAQ}">{L_FAQ}</a><br />
									<span>{S_TIMEZONE}</span><br />
									<!-- IF U_ACP --><a href="{U_ACP}">{L_ACP}</a><!-- ENDIF -->

							</div>
	
		</div>
			<div id="bdbottom"><img src="{T_THEME_PATH}/images/bottomimg.png" width="1150px" height="20px" alt="" /></div>
	</div>
</body>
</html>
