
</div>
</div>

<div id="rdbottom"><img src="{T_THEME_PATH}/images/bottomimg.png" width="1150px" height="20px" alt="" /></div>
</div>
	<br clear="all" />
	
	<div id="bwrappfoot">
			<div id="bdtop"><img src="{T_THEME_PATH}/images/topimg.png" width="1150px" height="20px" alt="" /></div>
				
				<div id="wrapsfooter">
	
					<span  class="copyright">{CREDIT_LINE}</span><br />
					BlackBoard &copy; 2013 by <a href="http://www.styles-design-phpbb.com/contact-support.php">FanFanLaTuFlippe</a>
	
				</div>

		<div id="bdbottom"><img src="{T_THEME_PATH}/images/bottomimg.png" width="1150px" height="20px" alt="" /></div>
	</div>
</body>
</html>