/* MENU STYLES */
td.lefttext {
	width: 450px;
	text-align: left;
}
td.righttext {
	width: 450px;
	text-align:right;
}
div.menuBar, div.menuBar a.menuButton, div.menuButton, div.menuButton_over, div.menu, div.menu a.menuItem {
	text-align: left;
	font-size: 11px;
}
div.menuBar {
	padding: 0;
	text-align: left;
}
div.emenuBar {
	text-align: left;
}
/* main level links */

div.menuBar a.menuButton, div.menuButton, div.menuButton_over {
	padding-top: 10px;
	padding-bottom: 7px;
	padding-left: 14px;
	padding-right: 14px;
	color: #b6b6b6;
	text-align: center;
	float: left;
	height: 18px;
	border-right: 1px solid #2d2d2d;
	border-left: 1px solid #000;
	font-weight:100;
}
a.menutop {
	padding-top: 13px;
	padding-bottom: 5px;
	padding-left: 15px;
	padding-right: 15px;
	color: #8a8a8a;
	text-align: center;
	text-decoration: none;
	float: left;
	height: 20px;
	border-right: 1px solid #2d2d2d;
	border-left: 1px solid #000;
	background: url(images/navtopmenu.png) repeat-x center;
}
/* main level links hover */
div.menuBar a.menuButton:hover, div.menuButton:hover, div.menuButton_over {
	color: #FFF;
	text-decoration: none;
}
/* main level links active */
div.menuBar a.menuButtonActive, div.menuButtonActive, div.menuButtonActive:hover, div.menuBar a.menuButtonActive:hover {
	color: #FFF;
	text-decoration: none;
}
/* sublinks styles */
/* sublink container */
div.menu {
	left: 0px;
	padding: 1px 1px 1px 1px;
	position: absolute;
	top: 0px;
	visibility: hidden;
	z-index: 101;
	width: 150px;
}
/* sublinks main style */
div.menu a.menuItem {
	color: #b6b6b6;
	cursor: pointer;
	display: block;
	padding: 4px 11px 4px 0px;
	text-align: left;
	font-size: 10px;
	text-decoration: none;
	white-space: nowrap;
	background: #0c0c0c;
	border-bottom: 1px solid #2d2d2d;
}
/* sublinks hover style */

div.menu a.menuItem:hover, div.menu a.menuItemHighlight {
	color: #FFF;
	font-weight: bold;
	background: #212121;
}
div.menu a.menuItem span.menuItemBuffer {
	padding: 0px 2px 0px 2px;
	color: #ffffff;
}
div.menu a.menuItem:hover span.menuItemBuffer {
	padding: 0px 2px 0px 2px;
	color: #000000;
}
div.menu a.menuItem span.menuItemText {
	padding: 0px 0px 0px 3px;
}
div.menu a.menuItem span.menuItemArrow {
	margin-right: -.75em;
}
div.menu div.menuItemSep {
	border-top: 1px solid #a5a5a5;
	border-bottom: 1px solid #ffffff;
	margin: 4px 2px;
}
a.menuItem.header {
	border-bottom: 1px solid #b3b3b3;
}
/* THEME LAYOUT */

#wrapper {
	margin: 0 auto;
	width: 1024px;
}
/* header */

#header {
	background: url(images/header.png) no-repeat top;
	height: 177px;
}
/* navigation */

#navtop {
	height: 41px;
	background: url(images/navtop.png) no-repeat;
	margin-left: 25px;
	margin-right: 25px;
	padding-top: 0px;
	padding-left: 180px;
}
#nav {
	height: 43px;
	background: url(images/navtop.png) no-repeat;
	padding-top: 0px;
	margin-left: 8px;
	margin-top: 0px;
	padding-left: 3px;
	padding-top: 5px;
}
#nav li {
	list-style: none;
	display: inline;
}
/* Layout
 ------------ */
* {
	/* Reset browsers default margin, padding and font sizes */
	margin: 0;
	padding: 0;
}
html {
	font-size: 100%;
}
#body-simple {
	background: #191919;
	padding: 5px;
}
/* Misc stuff */
img {
	border: none;
}
.gen {
	margin: 1px 1px;
	font-size: 1.2em;
}
.genmed {
	margin: 1px 1px;
	font-size: 1.1em;
}
.gensmall {
	margin: 1px 1px;
	font-size: 1em;
}
.titles {
	font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-size: 1.3em;
	text-decoration: none;
}
.error, table td .error {
	color: #F0E80A;
}
.spacer {
	background: #161616;
}
hr {
	height: 0px;
	border: solid #30B623 0px;
	border-top-width: 1px;
}
.pagination {
	padding: 4px;
	font-size: 1em;
	font-weight: bold;
}
/* Links
 ------------ */


a.forumlink {
	color: #666666;
	font-weight: bold;
	font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
	font-size: 1.2em;
}
a.topictitle {
	margin: 1px 0px;
	font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-size: 1.2em;
	color: #666666;
}
a.topictitle, .postbody a {
	color: #666666;
}
a.topictitle:visited, .postbody a:visited {
	color: #666666;
}
a.topictitle:visited:hover, .postbody a:visited:hover {
	color: #666666;
}
a.topictitle:hover, .postbody a:hover {
	color: #666666;
}
/* Header and logo */
#maintable {
	margin-top: 3px;
	margin-left: 10px;
	margin-right: 8px;
	width: 998px;
	border: 0px solid #343434;
	padding-top: 10px;
	padding-bottom: 10px;
}
#logorow {
	background: url(images/logo_bg.gif) top left repeat-x;
	text-align: center;
	padding: 0;
}
#logo-left {
	background: url(images/logo_left.jpg) top left no-repeat;
}
#logo-right {
	background: url(images/logo_right.jpg) top right no-repeat;
}
#logorow, #logo-left {
	height: 88px;
	overflow: hidden;
}
.pm-notify-new, .pm-notify-unread {
	border-left: solid 1px #3FC531;
	border-right: solid 1px #30B623;
	border-top: solid 1px #3FC531;
	border-bottom: solid 1px #30B623;
	background: #313131 url(images/cell.gif) top left repeat-x;
	margin: 10px 0;
	padding: 10px;
	text-align: center;
	font-size: 12px;
	font-weight: bold;
}
.pm-notify-new a, .pm-notify-new a:visited, .pm-notify-unread a, .pm-notify-unread a:visited {
	text-decoration: underline;
}
.pm-notify-header {
	margin-bottom: 10px;
	color: #CCC;
}
.pm-notify-new, .pm-notify-unread:hover {
	border-left: solid 1px #FCF536;
	border-right: solid 1px #F0E80A;
	border-top: solid 1px #FCF536;
	border-bottom: solid 1px #F0E80A;
}
.pm-notify-new {
	padding: 30px;
}
/* Navigation buttons */
.navrow {
	background: #47C63B url(images/buttons.gif) top left repeat-x;
	height: 21px;
	overflow: hidden;
	border-bottom: solid 1px #000;
	border-top: solid 1px #000;
	color: #F0E80A;
	text-align: center;
	font-size: 11px;
	padding: 1px;
}
* html .navrow {
	padding: 0;
}
.navrow b, .navrow strong {
	font-weight: normal;
}
.navrow a, .navrow a:visited {
	color: #FFF;
	text-decoration: none;
}
.navrow a:hover {
	color: #F0E80A;
	text-decoration: underline;
}
a.link-new, a.link-new:visited {
	color: #00CC00;
}
a.link-new:hover, a.link-new:visited:hover {
	color: #FFF;
}
/* Content and tables */
#contentrow {
	padding: 0px;
}
.tablebg {
	border: solid 1px #000;
	background: #313131 url(images/cell.gif) top left repeat-x;
}
.row1, .row2, .row3, .legend, .forumrules, tr.row1 .row, tr.row2 .row, tr.row3 .row, .postbottom {
	padding: 10px 8px 10px 8px;
	border: 1px solid #000;
	background: #202020 url(images/fhead2.png) repeat-x top;
	vertical-align:middle;
	color: #666666;
}
.rowfast {
	padding: 10px 8px 10px 8px;
	border: 1px solid #000;
	background: #202020 url(images/fhead2.png) repeat-x top;
	vertical-align:middle;
	text-align: center;
	
}

.rowfasty {
	padding: 5px 5px 5px 10px;
	border: 1px solid #000;
	background: #202020 url(images/fhead2.png) repeat-x top;
	vertical-align:top;
	text-align: left;
	
}

.rowfastz {
	height: 5px;
	border: 1px solid #1d1d1d;
	background: #1d1d1d;
	vertical-align:top;
	text-align: left;
	
}

.rowfastx {
	padding: 10px 8px 10px 8px;
	border: 1px solid #000;
	background: #202020 url(images/fhead2x.png) repeat-x top;
	vertical-align:middle;
	text-align: center;
}

th {
	color: #CFF0CC;
	font-size: 11px;
	font-weight: bold;
	white-space: nowrap;
	padding: 0 5px;
	text-align: center;
	height: 26px;
	padding: 10px 8px 10px 8px;
	border: 1px solid #000;
	background: #202020 url(images/fhead2.png) repeat-x top;
	vertical-align:middle;
}
th a, th a:visited {
	color: #CFF0CC !important;
	text-decoration: underline;
}
th a:hover {
	color: #FFF;
	text-decoration: underline;
}
td {
	padding: 2px;
}
td.profile {
	padding: 4px;
}
.catdiv {
	height: 24px;
	padding: 0 3px;
	border-left: solid 1px #404040;
	border-right: solid 1px #121212;
	border-top: solid 1px #3C3C3C;
	border-bottom: solid 1px #131313;
	background: #2C2C2C url(images/cathead.gif) top left repeat-x;
}
.rtl .catdiv {
	background: #2C2C2C url(images/cathead.gif) top left repeat-x;
}
.cat {
	height: 24px;
	padding: 0 3px;
	padding: 10px 8px 10px 8px;
	border: 1px solid #000;
	background: #202020 url(images/fhead2.png) repeat-x top;
	vertical-align:middle;
	text-align: center;
	text-indent: 4px;
}
.cathead {
	background: #309A26 url(images/catbottom.gif) top left repeat-x;
	height: 24px;
	padding: 1px 3px;
	border-left: solid 1px #3DC231;
	border-right: solid 1px #1F7D16;
	border-top: solid 1px #45C339;
	border-bottom: solid 1px #1F7D16;
}
/* Table header */
caption, .cap-div {
	padding: 10px 8px 10px 8px;
	border: 1px solid #000;
	background: #202020 url(images/fhead2.png) repeat-x top;
	vertical-align:middle;
	text-align: center;
}
.cap-left {
}
.cap-right {
	color: #666666;
}
caption, caption h1, caption h2, caption h3, caption h4, caption span, .cap-div, .cap-div h1, .cap-div h2, .cap-div h3, .cap-div h4, .cap-div span {
	font-size: 12px;
	font-weight: bold;
	color: #666666;
}
caption h1, caption h2, caption h3, caption h4, caption span, .cap-div h1, .cap-div h2, .cap-div h3, .cap-div h4, .cap-div span {
	display: inline;
}
caption a, caption a:visited, .cap-div a, .cap-div a:visited {
	color: #666666;
	text-decoration: underline;
}
caption a:hover, .cap-div a:hover {
	color: #666666;
	text-decoration: underline;
}
/* Footer */
#wrapfooter {
    margin-top: 8px;
	text-align: center;
    padding-top: 18px;
	height: 67px;
	color: #CCC;
	background-image: url(images/footer.png);
	background-repeat: no-repeat;
}
.copyright {
	color: #888;
	font-weight: normal;
	font-size: 9px;
	line-height: 1.2em;
}
.copyright a, .copyright a:visited {
	color: #AAA;
	text-decoration: underline;
}
.copyright a:hover {
	color: #FFF;
}
/* Breadcrumbs */
p.breadcrumbs {
	margin: 0;
	padding: 0;
	float: left;
	color: #AAA;
	font-weight: bold;
	white-space: normal;
	font-size: 1em;
}
.rtl p.breadcrumbs {
	float: right;
}
p.datetime {
	margin: 0;
	padding: 0;
	float: right;
	white-space: nowrap;
	font-size: 1em;
}
.rtl p.datetime {
	float: left;
}
/* Index/viewforum */
.subforum.read {
	background: url(images/sub_old.gif) top left no-repeat;
	padding-left: 12px;
}
.subforum.unread {
	background: url(images/sub_new.gif) top left no-repeat;
	padding-left: 12px;
}
.legend {
	text-align: center;
	margin: 0 auto;
	padding: 2px;
}
.legend-viewforum {
	margin: 0;
	text-align: left;
}
.forumrules {
	padding: 4px;
	font-weight: normal;
	font-size: 1.1em;
	border-left-color: #AAA;
	border-top-color: #AAA;
	border-right-color: #CCC;
	border-bottom-color: #CCC;
	font-family: "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
}
.forumrules h3 {
	color: #F0E80A;
}
/* Post */
.postsubject {
	font-size: 12px;
	font-weight: bold;
	color: #666666;
}
td.postbottom {
	padding: 10px 8px 10px 8px;
	border: 1px solid #000;
	background: #202020 url(images/fhead2.png) repeat-x top;
	vertical-align:middle;
	font-size: 10px;
	color: #D0D0D0;
	white-space: nowrap;
	padding: 2px 4px;
	vertical-align: middle;
}
td.postbuttons {
	padding-top: 3px;
}
.postdetails {
	color: #CCC;
	font-size: 10px;
	text-align: left;
}
.postdetails b {
	color: #DDD;
}
.posterrank {
	font-size: 9px;
	color: #B0B0B0;
}
.posterprofile {
	font-size: 10px;
	color: #D0D0D0;
}
.postauthor {
	color: #30B623;
	font-size: 12px;
	margin-bottom: 3px;
	font-weight: bold;
}
.postonline {
	margin-bottom: 2px;
}
.postreported, .postreported a:visited, .postreported a:hover, .postreported a, .postreported a:active {
	margin: 1px 0px;
	color: #F0E80A;
	font-weight: bold;
}
.postapprove, .postapprove a:visited, .postapprove a:hover, .postapprove a, .postapprove a:active {
	color: #00FF00;
	font-weight: bold;
}
.postapprove img, .postreported img {
	vertical-align: bottom;
}
.postbody {
	font-size: 12px;
	line-height: 1.4em;
	margin: 3px 0;
}
.signature {
	font-size: 11px;
	color: #EEE;
	margin-top: 5px;
}
.signature .line {
	color: #AAA;
}
.postbody li, ol, ul {
	margin: 0 0 0 1.5em;
}
.rtl .postbody li, .rtl ol, .rtl ul {
	margin: 0 1.5em 0 0;
}
.posthilit {
	background-color: #30B623;
	color: #fff;
}
.postsubject {
	font-size: 12px;
	font-weight: bold;
	color: #666666;
}
.postbody a {
	text-decoration: underline;
}
/* UCP */
.folder-current a, .folder-current a:visited {
	color: #FFF;
	font-weight: bold;
}
.folder-current a:hover {
	color: #F0E80A;
}
td.pm_marked_colour {
	background: #F0E80A;
}
td.pm_marked_colour_left {
	border-left: solid 3px #F0E80A;
	padding-left: 2px;
}
td.pm_marked_colour_right {
	border-right: solid 3px #F0E80A;
	padding-right: 2px;
}
td.pm_replied_colour {
	background: #30B623;
}
td.pm_replied_colour_left {
	border-left: solid 3px #30B623;
	padding-left: 2px;
}
td.pm_replied_colour_right {
	border-right: solid 3px #30B623;
	padding-right: 2px;
}
td.pm_friend_colour {
	background: #007700;
}
td.pm_friend_colour_left {
	border-left: solid 3px #007700;
	padding-left: 2px;
}
td.pm_friend_colour_right {
	border-right: solid 3px #007700;
	padding-right: 2px;
}
td.pm_foe_colour {
	background: #DD0000;
}
td.pm_foe_colour_left {
	border-left: solid 3px #DD0000;
	padding-left: 2px;
}
td.pm_foe_colour_right {
	border-right: solid 3px #DD0000;
	padding-right: 2px;
}
/* Form Elements
 ------------ */
form {
	margin: 0px;
	padding: 0px;
	border: 0px;
}
textarea, select, .post, .btnbbcode, .btnmain, .btnlite, .btnfile, .helpline {
	font-weight: normal;
	font-family: "Lucida Grande", Verdana, Helvetica, sans-serif;
	color: #D0D0D0;
	border: 1px solid #666666;
	background-color: #222;
}
input {
	font-size: 1.1em;
	padding: 1px;
}
textarea {
	font-size: 1.3em;
	line-height: 1.4em;
	padding: 2px;
}
select {
	font-size: 1.1em;
	padding: 1px;
}
option {
	padding: 0 1em 0 0;
}
.rtl option {
	padding: 0 0 0 1em;
}
.post {
	border-style: solid;
	border-width: 1px;
}
.btnbbcode {
	font-size: 1.1em;
	border: 1px solid #444;
}
.btnbbcode:hover {
	border-color: #999;
	color: #FFF;
}
.btnmain {
	font-weight: bold;
	cursor: pointer;
	padding: 1px 5px;
	font-size: 1.1em;
}
.btnlite {
	font-weight: normal;
	cursor: pointer;
	padding: 1px 5px;
	font-size: 1.1em;
}
.btnfile {
	font-weight: normal;
	padding: 1px 5px;
	font-size: 1.1em;
}
.helpline {
	background-color: transparent;
	color: #AAA;
	border-style: none;
}
#helpline {
	color: #AAA;
}
* html textarea, * html select, * html .post, * html .btnmain, * html .btnlite, * html .btnfile {
	border-color: #D0D0D0;
}
textarea:hover, select:hover, .post:hover, .btnmain:hover, .btnlite:hover, .btnfile:hover {
	border-color: #D0D0D0;
}
textarea:focus, select:focus, .post:focus, .btnmain:focus, .btnlite:focus, .btnfile:focus {
	border-color: #D0D0D0;
	color: #FFF;
}
label:hover {
	color: #F0E80A;
}
textarea.posting-textarea, #ie8#fix {
	width: 98%;
}
/* BBCode
 ------------ */
.quotetitle, .attachtitle, .codetitle {
	margin: 10px 5px 0px 5px;
	padding: 2px 4px;
	border: solid 1px #090909;
	color: #D0D0D0;
	background-color: #2E2E2E;
	font-size: 0.85em;
	font-weight: bold;
}
.quotetitle .quotetitle {
	font-size: 1em;
}
.quotecontent, .attachcontent {
	margin: 0px 5px 10px 5px;
	padding: 5px;
	border-color: #090909;
	border-width: 0px 1px 1px 1px;
	border-style: solid;
	font-weight: normal;
	font-size: 1em;
	line-height: 1.4em;
	/*	font-family: "Lucida Grande", "Trebuchet MS", Helvetica, Arial, sans-serif; */
	background-color: #2E2E2E;
	color: #EEE;
}
.attachcontent {
	font-size: 0.85em;
}
.codecontent {
	direction: ltr;
	margin: 0px 5px 10px 5px;
	padding: 5px;
	border-color: #090909;
	border-width: 0px 1px 1px 1px;
	border-style: solid;
	font-weight: normal;
	font-size: 11px;
	font-family: Monaco, 'Courier New', monospace;
	background-color: #2E2E2E;
	color: #EEE;
}
.quotewrapper, .codewrapper, .attachwrapper {
	clear: both;
	margin: 10px 5px;
	background: #33B626 url(images/code_header.gif) top left no-repeat;
	padding-left: 19px;
	border: solid 1px #090909;
}
.quotewrapper {
	background-image: url(images/quote_header.gif);
}
.quotewrapper .quotetitle, .codewrapper .codetitle, .attachwrapper .attachtitle {
	margin: 0;
	border-width: 0 0 1px 1px;
}
.quotewrapper .quotecontent, .codewrapper .codecontent, .attachwrapper .attachcontent {
	margin: 0;
	border-width: 0 0 0 1px;
}
.attachcontent, .codecontent {
	overflow: auto;
	overflow-x: auto;
}
.syntaxbg {
	color: #FFF;
}
.syntaxcomment {
	color: #AAA;
}
.syntaxdefault {
	color: #FFF;
}
.syntaxhtml {
	color: #FFF;
}
.syntaxkeyword {
	color: #F0E80A;
}
.syntaxstring {
	color: #30B623;
}
/* More misc stuff */


p {
	font-size: 1.1em;
}
p.moderators {
	margin: 0px;
	float: left;
	color: #CCC;
	font-weight: bold;
}
.rtl p.moderators {
	float: right;
}
p.linkmcp {
	margin: 0px;
	float: right;
	white-space: nowrap;
}
.rtl p.linkmcp {
	float: left;
}
p.searchbar {
	padding: 2px 0;
	white-space: nowrap;
}
p.searchbarreg {
	margin: 0px;
	float: right;
	white-space: nowrap;
}
.rtl p.searchbarreg {
	float: left;
}
p.forumdesc {
	padding-bottom: 4px;
	color: #575757;
}
p.topicauthor {
	margin: 1px 0px;
}
p.topicdetails {
	margin: 1px 0px;
}
td.history-current, tr.row1 td.history-current, tr.row2 td.history-current {
	background: #444;
}
table.colortable td {
	padding: 0;
}
pre {
	font-size: 1.1em;
	font-family: Monaco, 'Courier New', monospace;
}
.nowrap {
	white-space: nowrap;
}
.username-coloured {
	font-weight: bold;
}
.sep {
	color: #888;
}
/* reset style for file input */
.btnfile, .btnfile:hover, .btnfile:focus {
	border: none;
	background-color: #FFF;
	color: #000;
}
